server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    location ^~ /.well-known/acme-challenge/ {
        root __APP_ROOT__/shared/acme;
        default_type text/plain;
    }

    location / {
        return 301 https://caibinice.com$request_uri;
    }
}
